body {
  background: url('../img/backgr.png') no-repeat center center fixed !important;
  /* ; */
}

.s1 {
  background: #2b253890;
  height: 45px;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 3px;
  border-bottom: double 10px #000000d5;
}

h3 {
  color: #ededed !important;
  font-weight: 600
}

.s2:hover {
  /* border-bottom: solid 3px #577859dc; */
  background: #242328d9 !important;
  height: 55px;

  transition: 120ms;
}

label {
  display: inline-block;
  width: 210px;
  text-align: right;
}

.greencard {
  background-color: #0000006f;
  min-height: 800px;
  border-top: #3a3c3f 15px solid;
  backdrop-filter: blur(5px);
}

li {
  list-style-type: none;

}

.blur {
  backdrop-filter: blur(5px);
}

.txt2 {
  color: rgb(218, 218, 218) !important;

}

.txt1 {
  color: #ededed !important;
  font-weight: 600
}


.btn2:hover {
  background-color: #2a2638d5;
  border: double 5px rgb(34, 36, 49);
  transition: all .15s ease;
  color: rgb(255, 255, 255);
}

.btn2 {
  border-radius: 2%;
  background-color: #2423286f;
  border: double 5px #000000d5;
  color: rgb(239, 237, 221);
}

.btn2:focus {
  outline: 0 !important;
  background-color: #19272b49;
  color: white;
}




input[readonly] {
  background-color: #2a2638d5;
  border: double 5px rgb(34, 36, 49);
  border-color: rgba(46, 53, 155, 0.718);
  border-radius: 3% !important;
  text-align: center;
}



.form-control::placeholder {
  color: rgba(255, 255, 255, 0.56);
  text-align: center;
}
.form-control {
  background-color: #201e2873;
  border: double 5px rgb(34, 36, 49);
  border-color: rgba(0, 0, 0, 0.718);
  border-radius: 3% !important;

}
.form-control:hover:not(:focus) {
  box-shadow: 0px 0px 3px 3px #3843457c;
  background: #dce1f568;
  transition: all .1s ease-in-out;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(53, 60, 93, 0.599);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(39, 63, 73, 0.6);
  outline: 0 none;

}

tr.spaceUnder>td {
  padding-bottom: 10px;
}

.form-control:focus:not(:hover) {
  background-color: rgba(42, 57, 64, 0.484) important !;
}

.accordion-item {
  background-color: #6462541f !important;
}

.accordion-button {
  background-color: #f5f5dc20;
}

.accordion-button:not(.collapsed) {
  background-color: #47463a3d;
  ;
  color: black;
}

.accordion-button:hover {
  background-color: #66696f;
}

.accordion {
  background-color: #f5f5dc37;
  outline: 2px solid black;
  color: #42473a;
  outline: double 5px rgba(63, 62, 58, 0.668);
}
.nav-tabs {
  background-color: rgba(0, 0, 0, 0.216);
  backdrop-filter: blur(1px);
  border-bottom: 1px solid #0000002e;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #eff4ff;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #f9fbfd;
  background-color: rgba(10, 6, 17, 0.749);
  border-color: #dee2e6 #dee2e6 #fff;
}
.nav-link:hover{
  color:rgb(249, 249, 249);
  background-color: rgba(0, 0, 0, 0.384);
}



.accordion-button:focus {
  outline: 0 !important;
  box-shadow: 0px 2px 3px 0px #2140634a;
  background-color: #2b281918;
}


.form-select {
  background-color: #1e0f0f38;
  border: double 5px rgba(78, 83, 88, 0.773);
  border-radius: 2%;

}

.form-select:focus {
  outline: 0 !important;
  box-shadow: 5px 2px 2px 2px #215c6372;

}

.tipo1:hover:not(:focus) {
  box-shadow: 0px 0px 1px 1px rgba(9, 70, 84, 0.408);
}

.hvr:hover {
  background-color: #00aaff;
  color: #00aaff;
  transition: 100ms;
  filter: brightness(130%)
}


.menu {
  display: block;
  margin: 0 auto;
  width: fit-content
}

.menu>li>a {
  color: #fff;
  text-align: center;
}


.dropdown-menu {
  background: rgba(210, 215, 217, 0.375);
}

.menu ul {
  background: rgba(210, 215, 217, 0.375);
  backdrop-filter: blur(5px);
  height: 0;
  left: 0;
  right: 0;
  opacity: 0;
  position: absolute;
  transition: all .2s ease-in-out;
  top: 35px;
  width: max-content
}

.menu li:hover ul {
  margin-top: 5px;
  height: 200px;
  opacity: 1;
  transform: translateY(0);
  z-index: 10;
  border: double 5px rgba(78, 86, 88, 0.773);
}

.menu ul a {
  color: #000;
  display: block;
  padding: 5px 0px;

}

.modal:nth-of-type(even) {
  z-index: 1062 !important;

}

.modal-backdrop {
  backdrop-filter: blur(5px);
  background-color: #75808bab;
}

.modal .modal-dialog .modal-content {
  background-color: #ffffff;
  border: double 10px rgba(58, 60, 63, 0.648);
  backdrop-filter: blur(3px);

}



label {
  display: inline-block;
  width: 150px;
  text-align: right;
}


.form-123:focus:not(:hover) {
  background-color: rgba(42, 57, 64, 0.484) important !;
}
.form-123:focus:not(:hover) {
  background-color: rgba(42, 57, 64, 0.484) important !;
}
.form-123::placeholder {
  color: rgba(255, 255, 255, 0.56);
  text-align: center;
}
.form-123 {
  background-color: #201e2873;
  border: double 5px rgb(34, 36, 49);
  border-color: rgba(0, 0, 0, 0.718);
  border-radius: 3% !important;

}
.form-123:hover:not(:focus) {
  box-shadow: 0px 0px 3px 3px #3843457c;
  background: #dce1f568;
  transition: all .1s ease-in-out;
}

h5{
  color: #ededed !important;
  font-weight: 600
}










.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.274);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(12, 8, 22);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #121537be;
}

input:focus + .slider {
  box-shadow: 0 0 1px #211734;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(26px);
}

